#grid-container {
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px black solid;
    padding: 0px;
    width: 800px;
    height: 800px;
    flex-shrink: 0;
    flex: 1 0 calc(100% / var(--side-length));
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    margin: 0;
    padding: 0;
}

li {
    gap: 0px;
    list-style: none;
    border: 1px black solid;
    box-sizing: border-box;
}


.grid-item {
    flex: 1 0 calc(100% / var(--side-length));
}